<h1>My tasks</h1>

<ul style="list-style: none;">
<% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      o
    <% else %>
      x
    <% end %>
    <%= link_to(task.title, task_path(task)) %>

<%=link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>
      <% end %>
    </li>
<% end %>
</ul>

<%= link_to "Add a new task", task_new_path %>

